<div class="dashboard-container">
  <div class="stats-grid">
    <div class="card">
      <div class="card-content">
        <div>
          <p>Temperatura</p>
          <h3>{{ this.weatherService.weatherData ? this.weatherService.weatherData.daily[0].temp.day : '--' }} °C</h3>
          <small>Umidade: {{ this.weatherService.weatherData ? this.weatherService.weatherData.daily[0].humidity : '--'
            }}%</small>
        </div>
        <div class="icon-wrapper bg-yellow">
          <mat-icon>thermostat</mat-icon>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div>
          <p>Consumo de Água</p>
          <h3>{{ totalSavings.toFixed(2) }} L</h3>
          <small class="text-green">economia total</small>
        </div>
        <div class="icon-wrapper bg-blue">
          <mat-icon>water_drop</mat-icon>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div>
          <p>Sensores Ativos</p>
          <h3>{{ sensorData.length }}</h3>

          <small *ngIf="drawnArea" class="text-green">
            {{ sensorsInAreaCount }} na área selecionada
          </small>

          <small *ngIf="!drawnArea" class="text-green">operando</small>
        </div>
        <div class="icon-wrapper bg-purple">
          <mat-icon>wifi</mat-icon>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-content">
        <div>
          <p>Alertas</p>
          <h3>{{ (this.weatherService.weatherData?.alerts) ? '1' : '0' }}</h3>
          <small>{{ (this.weatherService.weatherData?.alerts) ? weatherService.weatherData.alerts[0].event : 'Nenhum
            alerta' }}</small>
        </div>
        <div class="icon-wrapper bg-red">
          <mat-icon>warning</mat-icon>
        </div>
      </div>
    </div>
  </div>

  <div class="data-grid">
    <div class="card data-card span-col-2">
      <h3>Monitoramento de Umidade dos Sensores</h3>
      <div class="chart-container">
        <canvas id="sensorLineChart"></canvas>
      </div>
    </div>

    <div class="card data-card">
      <h3>Previsão da Semana</h3>
      <div id="prev-container" class="forecast-container"></div>
    </div>
  </div>

  <div class="control-grid">
    <div class="card data-card">
      <h3>Mapa e Localização</h3>
      <div class="search-bar">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar endereço...">
        <button (click)="searchAddress()">Buscar</button>
      </div>
      <div id="map"></div>
      <b>{{ this.weatherService.location.address }}</b>
    </div>

    <div class="card data-card">
      <h3>Controle de Irrigação</h3>
      <p>Resultados do cálculo de irrigação para os próximos dias.</p>
      <div *ngIf="irrigationResults" class="irrigation-cards-container">
        <div class="irrigation-card" *ngFor="let result of irrigationService.irrigationData.data; let i = index">
          <div class="card-content">
            <h4>{{ filteredWeatherData[i].date }}</h4>
            <p><b>Irrigação Final:</b> {{ result.finalIrrigation }} mm</p>
            <p><small>Chuva Eficaz: {{ result.effectiveRain }} mm</small></p>
          </div>
        </div>
      </div>
      <button class="calculate-btn" mat-raised-button color="primary" (click)="calculateIrrigation()">
        Calcular Irrigação
      </button>
    </div>
  </div>
</div>