.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4CAF50;
  padding: 10px 20px;
  color: white;

  .navbar-logo {
    display: flex;
    align-items: center;

    .logo {
      height: 90px;
      margin-right: 20px;
    }
  }

  .navbar-buttons {
    display: flex;
    gap: 10px;

    .btn-profile,
    .btn-logout {
      background-color: #ffffff;
      color: #4CAF50;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .btn-profile:hover,
    .btn-logout:hover {
      background-color: #f1f1f1;
    }
  }
}


.dashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  width: 96vw;

  canvas {
    display: block;
    margin: auto;
    height: 70%;
  }

  .endereco-selecionado {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 8px;

    .search-bar {
      display: flex;
      gap: 10px;
      margin-top: 10px;
      width: 60%;

      input {
        flex: 1;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 5px 10px;
        border: none;
        background-color: #4CAF50;
        color: white;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    }
  }

  #map {
    flex: 3 1 60%;
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 350px;
  }

  .recursos-cultura {
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 350px;
  }

  .grafico-recursos {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 400px;

    canvas {
      display: block;
      margin: auto;
      height: 100%;
    }
  }


  .condicoes-tempo {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: left;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 400px;

    h2 {
      margin: 0 0 10px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .previsao {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    #prev-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
}

.irrigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  .irrigation-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      p {
        margin: 10px 0;
      }
    }
  }
}

.config-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  z-index: 100;
}