<div class="navbar">
  <div class="navbar-logo">
    <img src="assets/AgroFlow_logo_noBg.png" alt="Logo" class="logo">
  </div>

  <div class="navbar-buttons">
    <button class="btn-profile">Perfil</button>
    <button class="btn-logout">Logout</button>
    <button class="btn-sensor-message" (click)="goToSensorMessage()">Sensor Message</button>
  </div>
</div>

<div class="dashboard">
  <div class="endereco-selecionado">
    <b>{{ this.weatherService.location.address }}</b>

    <div class="search-bar">
      <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar endereço">
      <button (click)="searchAddress()">Buscar</button>
    </div>
  </div>

  <div id="map"></div>

  <div class="recursos-cultura">
    <b>Recursos Hídricos/Cultura</b>
    
    <div style="width: 400px; height: 400px; margin: auto;">
      <canvas id="pieChart"></canvas>
    </div>
  </div>

  <div class="grafico-recursos">
    <canvas id="lineChart"></canvas>
    <b>Economia total: {{totalSavings.toFixed(2)}} mm</b>
  </div>

  <div class="condicoes-tempo">
    <h2>Condições atuais do tempo</h2>
    <ul>
      <li>Temperatura: {{ this.weatherService.weatherData ? this.weatherService.weatherData.daily[0].temp.day : ''}} °C</li>
      <li>Umidade: {{this.weatherService.weatherData ? this.weatherService.weatherData.daily[0].humidity : ''}}%</li>
      <li>Vento: {{this.weatherService.weatherData ? this.weatherService.weatherData.daily[0].wind_speed : ''}} m/s</li>
    </ul>
    <h3>Alertas</h3>
    <b>{{ (this.weatherService.weatherData && this.weatherService.weatherData.alerts) ? this.weatherService.weatherData.alerts[0].description : 'Não há alertas na região' }}</b>
  </div>

  <div class="sensor-data-chart">
    <h2>Sensores de umidade</h2>
    <canvas id="sensorLineChart"></canvas>
  </div>

  <div class="previsao">
    <h2>Previsão da semana</h2>
    <div id="prev-container"></div>
  </div>
</div>

<!-- Seção Irrigação -->
<div class="irrigation">
  <h2>Irrigação</h2>

  <div *ngIf="irrigationResults" class="cards-container">
    <div class="irrigation-cards">
      <div class="card" *ngFor="let result of irrigationService.irrigationData.data; let i = index">
        <div class="card-content">
          <h3>{{ filteredWeatherData[i].date }}</h3>
          <p><b>Kc Ajustado:</b> {{ result.adjustedKc }}</p>
          <p><b>Irrigação total:</b> {{ result.totalIrrigation }} mm</p>
          <p><b>Chuva Eficaz:</b> {{ result.effectiveRain }} mm</p>
          <p><b>Irrigação final:</b> {{ result.finalIrrigation }} mm</p>
        </div>
      </div>
    </div>
  </div>

  <button mat-raised-button color="primary" (click)="calculateIrrigation()">Calcular Irrigação</button>
</div>

<button mat-fab class="config-button" (click)="openConfigDialog()">
  <mat-icon>settings</mat-icon>
</button>