<div class="main-container">
  <app-sidebar (openConfigDialogEvent)="openConfigDialog()"></app-sidebar>

  <div class="content">
    
    <header class="top-header">
      <div class="header-titles">
        <h2>Dashboard</h2>
        <p class="date-display">{{ currentDate | date: "EEEE, d 'de' MMMM" : '' : 'pt-BR' }}</p>
      </div>

      <div class="header-actions">
        <div class="notification-icon" matTooltip="Novas notificações">
          <mat-icon>notifications_none</mat-icon>
          <span class="notification-badge"></span>
        </div>
      </div>
    </header>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
    
  </div>
</div>